h1 {
    color:rgb(63, 81, 181);
    font-weight: bold;
  }
  
  Button {
    float: right;
    margin: 5px;
  }
  .app-container {
    padding: 25px;
  }
  .container .row div {
    outline: solid 1px black;
  }